.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #b81900;
  color: #fff;
}
.link h1 {
  color: white;
}

.link:hover h1 {
  text-decoration: underline;
}

.header-title {
  margin: 0;
}

.home-btn,
.user-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
}

.bold {
  font-weight: 900;
}

.user-icon {
  width: 30px;
  height: 30px;
}
